In [37]:
import pandas as pd

In [38]:
health_xlsx = "County Health Rankings-Final.xlsx"
health_df = pd.read_excel(health_xlsx)
health_df.head()

   fips    state   county  overall county health rank
0  1001  Alabama  Autauga                         2.0
1  1003  Alabama  Baldwin                         3.0
2  1005  Alabama  Barbour                         0.0
3  1007  Alabama     Bibb                         1.0
4  1009  Alabama   Blount                         2.0

In [39]:
density_csv = "county_zipcode_true_ave.csv"
density_df = pd.read_csv(density_csv)
density_df = density_df.rename(columns={"county_fips": "fips"})
density_df.head()

   fips county_name state_id  population  pop_area_est  density
0  1001     Autauga       AL       57046       1512.03    37.73
1  1003     Baldwin       AL      207694       4077.05    50.94
2  1005     Barbour       AL       25278       1821.81    13.88
3  1007        Bibb       AL       22859       1415.86    16.14
4  1009      Blount       AL       45030       1311.39    34.34

In [40]:
genderage_csv = "gender_age-Final.csv"
genderage_df = pd.read_csv(genderage_csv)
genderage_df.head()

,state,county,% Age 0 to 4 years,% Age 5 to 9 years,% Age 10 to 14 years,% Age 15 to 19 years,% Age 20 to 24 years,% Age 25 to 29 years,% Age 30 to 34 years,% Age 35 to 39 years,...,% Age 55 to 59 years,% Age 60 to 64 years,% Age 65 to 69 years,% Age 70 to 74 years,% Age 75 to 79 years,% Age 80 to 84 years,% Age 85 years or older,% TOT_MALE,% TOT_FEMALE,fips
0,Alabama,Autauga,6.050251,6.156364,6.981889,6.753476,5.706732,6.663549,6.224708,6.525062,...,7.062823,5.821838,4.656391,4.156400,3.127642,2.055718,1.566519,48.551285,51.448715,1001
1,Alabama,Baldwin,5.483392,5.871884,6.412656,5.931511,5.094899,5.720065,5.530176,6.034253,...,7.221290,7.185055,6.543835,5.720065,3.882636,2.322701,1.974113,48.461623,51.538377,1003
2,Alabama,Barbour,5.160564,5.819702,6.064869,5.831759,5.916161,7.218359,6.711949,6.153290,...,6.732045,6.173385,6.189462,5.373578,3.645352,2.315019,1.897030,52.783248,47.216752,1005
3,Alabama,Bibb,5.736607,5.227679,5.919643,5.669643,5.816964,7.705357,7.147321,6.750000,...,6.848214,6.084821,5.276786,4.428571,3.263393,1.883929,1.620536,53.218750,46.781250,1007
4,Alabama,Blount,5.982019,6.284578,6.746196,6.341632,5.494467,6.161826,5.826418,6.075380,...,6.823997,6.367566,5.674274,5.119295,3.405947,2.252766,1.784232,49.273859,50.726141,1009

In [41]:
poverty_csv = "Poverty.csv"
poverty_df = pd.read_csv(poverty_csv)
poverty_df = poverty_df.rename(columns={"FIPStxt": "fips"})
poverty_df.head()

     fips Stabr       Area_name Poverty, total  Poverty, %
0  1001.0    AL  Autauga County          7,587        13.8
1  1003.0    AL  Baldwin County         21,069         9.8
2  1005.0    AL  Barbour County          6,788        30.9
3  1007.0    AL     Bibb County          4,400        21.8
4  1009.0    AL   Blount County          7,527        13.2

In [42]:
merge12_df = pd.merge(health_df, density_df,  how='left', on = ['fips'])
merge12_df.head()

,fips,state,county,overall county health rank,county_name,state_id,population,pop_area_est,density
0,1001,Alabama,Autauga,2.0,Autauga,AL,57046.0,1512.03,37.73
1,1003,Alabama,Baldwin,3.0,Baldwin,AL,207694.0,4077.05,50.94
2,1005,Alabama,Barbour,0.0,Barbour,AL,25278.0,1821.81,13.88
3,1007,Alabama,Bibb,1.0,Bibb,AL,22859.0,1415.86,16.14
4,1009,Alabama,Blount,2.0,Blount,AL,45030.0,1311.39,34.34

In [43]:
merge123_df = pd.merge(merge12_df, genderage_df, how='left', on = ['fips'])
merge123_df.head()

,fips,state_x,county_x,overall county health rank,county_name,state_id,population,pop_area_est,density,state_y,...,% Age 50 to 54 years,% Age 55 to 59 years,% Age 60 to 64 years,% Age 65 to 69 years,% Age 70 to 74 years,% Age 75 to 79 years,% Age 80 to 84 years,% Age 85 years or older,% TOT_MALE,% TOT_FEMALE
0,1001,Alabama,Autauga,2.0,Autauga,AL,57046.0,1512.03,37.73,Alabama,...,6.854193,7.062823,5.821838,4.656391,4.156400,3.127642,2.055718,1.566519,48.551285,51.448715
1,1003,Alabama,Baldwin,3.0,Baldwin,AL,207694.0,4077.05,50.94,Alabama,...,6.532368,7.221290,7.185055,6.543835,5.720065,3.882636,2.322701,1.974113,48.461623,51.538377
2,1005,Alabama,Barbour,0.0,Barbour,AL,25278.0,1821.81,13.88,Alabama,...,6.442667,6.732045,6.173385,6.189462,5.373578,3.645352,2.315019,1.897030,52.783248,47.216752
3,1007,Alabama,Bibb,1.0,Bibb,AL,22859.0,1415.86,16.14,Alabama,...,7.058036,6.848214,6.084821,5.276786,4.428571,3.263393,1.883929,1.620536,53.218750,46.781250
4,1009,Alabama,Blount,2.0,Blount,AL,45030.0,1311.39,34.34,Alabama,...,6.737552,6.823997,6.367566,5.674274,5.119295,3.405947,2.252766,1.784232,49.273859,50.726141

In [44]:
merge1234_df = pd.merge(merge123_df, poverty_df, how='left', on = ['fips'])
merge1234_df.head()

,fips,state_x,county_x,overall county health rank,county_name,state_id,population,pop_area_est,density,state_y,...,% Age 70 to 74 years,% Age 75 to 79 years,% Age 80 to 84 years,% Age 85 years or older,% TOT_MALE,% TOT_FEMALE,Stabr,Area_name,"Poverty, total","Poverty, %"
0,1001,Alabama,Autauga,2.0,Autauga,AL,57046.0,1512.03,37.73,Alabama,...,4.156400,3.127642,2.055718,1.566519,48.551285,51.448715,AL,Autauga County,"7,587",13.8
1,1003,Alabama,Baldwin,3.0,Baldwin,AL,207694.0,4077.05,50.94,Alabama,...,5.720065,3.882636,2.322701,1.974113,48.461623,51.538377,AL,Baldwin County,"21,069",9.8
2,1005,Alabama,Barbour,0.0,Barbour,AL,25278.0,1821.81,13.88,Alabama,...,5.373578,3.645352,2.315019,1.897030,52.783248,47.216752,AL,Barbour County,"6,788",30.9
3,1007,Alabama,Bibb,1.0,Bibb,AL,22859.0,1415.86,16.14,Alabama,...,4.428571,3.263393,1.883929,1.620536,53.218750,46.781250,AL,Bibb County,"4,400",21.8
4,1009,Alabama,Blount,2.0,Blount,AL,45030.0,1311.39,34.34,Alabama,...,5.119295,3.405947,2.252766,1.784232,49.273859,50.726141,AL,Blount County,"7,527",13.2

In [45]:
merge1234_df = merge1234_df.drop(["state_x", "county_x", "county_name", "state_id", 
                                  "pop_area_est", "pop_area_est", "state_y", "county_y", "Stabr", "Area_name", 
                                  "Poverty, total"], axis=1)
merge1234_df

,fips,overall county health rank,population,density,% Age 0 to 4 years,% Age 5 to 9 years,% Age 10 to 14 years,% Age 15 to 19 years,% Age 20 to 24 years,% Age 25 to 29 years,...,% Age 55 to 59 years,% Age 60 to 64 years,% Age 65 to 69 years,% Age 70 to 74 years,% Age 75 to 79 years,% Age 80 to 84 years,% Age 85 years or older,% TOT_MALE,% TOT_FEMALE,"Poverty, %"
0,1001,2.0,57046.0,37.73,6.050251,6.156364,6.981889,6.753476,5.706732,6.663549,...,7.062823,5.821838,4.656391,4.156400,3.127642,2.055718,1.566519,48.551285,51.448715,13.8
1,1003,3.0,207694.0,50.94,5.483392,5.871884,6.412656,5.931511,5.094899,5.720065,...,7.221290,7.185055,6.543835,5.720065,3.882636,2.322701,1.974113,48.461623,51.538377,9.8
2,1005,0.0,25278.0,13.88,5.160564,5.819702,6.064869,5.831759,5.916161,7.218359,...,6.732045,6.173385,6.189462,5.373578,3.645352,2.315019,1.897030,52.783248,47.216752,30.9
3,1007,1.0,22859.0,16.14,5.736607,5.227679,5.919643,5.669643,5.816964,7.705357,...,6.848214,6.084821,5.276786,4.428571,3.263393,1.883929,1.620536,53.218750,46.781250,21.8
4,1009,2.0,45030.0,34.34,5.982019,6.284578,6.746196,6.341632,5.494467,6.161826,...,6.823997,6.367566,5.674274,5.119295,3.405947,2.252766,1.784232,49.273859,50.726141,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3104,56037,4.0,44117.0,6.98,6.850015,7.328517,7.690878,7.003322,5.869782,6.578244,...,6.687417,6.680449,4.801282,3.170658,1.934914,1.110311,1.094051,51.455251,48.544749,8.4
3105,56039,6.0,22196.0,3.54,4.904467,5.424375,5.207747,4.258914,4.670508,8.184221,...,6.520515,6.685152,5.770980,4.258914,2.538885,1.438413,1.408085,51.596551,48.403449,6.3
3106,56041,4.0,20630.0,5.38,7.320558,8.054584,8.606335,7.182620,4.921425,5.685009,...,6.729396,7.074240,5.507660,3.773585,2.300606,1.241440,1.256220,50.667521,49.332479,10.0
3107,56043,5.0,8295.0,2.54,5.149017,5.732403,7.102093,7.013316,4.464172,4.603678,...,7.190869,7.622067,6.556753,5.326569,4.071021,2.663285,3.069119,50.577045,49.422955,11.9
3108,56045,6.0,7263.0,1.08,5.152863,6.042773,6.085833,5.095450,4.478255,5.296397,...,7.851299,9.645472,6.789149,4.822736,3.215157,2.813263,2.870676,52.949620,47.050380,11.8

In [46]:
covid_csv = "covid_cases_deaths.csv"
covid_df = pd.read_csv(covid_csv)
covid_df = covid_df.drop(["county", "state"], axis=1)
covid_df = covid_df.dropna(how='any')
covid_df

            date     fips  cases  deaths
0      1/21/2020  53061.0      1       0
1      1/22/2020  53061.0      1       0
2      1/23/2020  53061.0      1       0
3      1/24/2020  17031.0      1       0
4      1/24/2020  53061.0      1       0
...          ...      ...    ...     ...
70213  4/18/2020  56035.0      1       0
70214  4/18/2020  56037.0     10       0
70215  4/18/2020  56039.0     62       0
70216  4/18/2020  56041.0      6       0
70217  4/18/2020  56043.0      4       0

[69315 rows x 4 columns]

In [47]:
totalmerged_df = pd.merge(covid_df, merge1234_df, how='left', on = ['fips'])
totalmerged_df = totalmerged_df.dropna(how='any')
totalmerged_df

,date,fips,cases,deaths,overall county health rank,population,density,% Age 0 to 4 years,% Age 5 to 9 years,% Age 10 to 14 years,...,% Age 55 to 59 years,% Age 60 to 64 years,% Age 65 to 69 years,% Age 70 to 74 years,% Age 75 to 79 years,% Age 80 to 84 years,% Age 85 years or older,% TOT_MALE,% TOT_FEMALE,"Poverty, %"
0,1/21/2020,53061.0,1,0,9.0,768219.0,160.12,6.391329,6.255484,6.321504,...,7.104789,6.306165,4.871757,3.521532,2.206035,1.394648,1.476130,50.172598,49.827402,7.5
1,1/22/2020,53061.0,1,0,9.0,768219.0,160.12,6.391329,6.255484,6.321504,...,7.104789,6.306165,4.871757,3.521532,2.206035,1.394648,1.476130,50.172598,49.827402,7.5
2,1/23/2020,53061.0,1,0,9.0,768219.0,160.12,6.391329,6.255484,6.321504,...,7.104789,6.306165,4.871757,3.521532,2.206035,1.394648,1.476130,50.172598,49.827402,7.5
3,1/24/2020,17031.0,1,0,5.0,5164345.0,2259.63,6.123471,5.991244,6.072569,...,6.402171,5.931578,4.771940,3.578926,2.521980,1.747594,2.014596,48.568370,51.431630,13.8
4,1/24/2020,53061.0,1,0,9.0,768219.0,160.12,6.391329,6.255484,6.321504,...,7.104789,6.306165,4.871757,3.521532,2.206035,1.394648,1.476130,50.172598,49.827402,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69394,4/18/2020,56035.0,1,0,6.0,9883.0,1.00,5.421380,6.369102,6.949964,...,7.214919,7.388159,6.593295,5.462142,3.760318,1.824111,1.834301,53.959034,46.040966,6.8
69395,4/18/2020,56037.0,10,0,4.0,44117.0,6.98,6.850015,7.328517,7.690878,...,6.687417,6.680449,4.801282,3.170658,1.934914,1.110311,1.094051,51.455251,48.544749,8.4
69396,4/18/2020,56039.0,62,0,6.0,22196.0,3.54,4.904467,5.424375,5.207747,...,6.520515,6.685152,5.770980,4.258914,2.538885,1.438413,1.408085,51.596551,48.403449,6.3
69397,4/18/2020,56041.0,6,0,4.0,20630.0,5.38,7.320558,8.054584,8.606335,...,6.729396,7.074240,5.507660,3.773585,2.300606,1.241440,1.256220,50.667521,49.332479,10.0
69398,4/18/2020,56043.0,4,0,5.0,8295.0,2.54,5.149017,5.732403,7.102093,...,7.190869,7.622067,6.556753,5.326569,4.071021,2.663285,3.069119,50.577045,49.422955,11.9

In [48]:
totalmerged_df.to_csv("totalmerged.csv", index=False, header=True)